# Project Specific files
Instructions/*
Necessary_Files/*

# Prisma files
server/src/generated/prisma

# Project env files
client/.env*
server/.env*

# Project node module fils
client/node_modules
server/node_modules